#folders

.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Content/StartContent/
Build/
*/Binaries/
*/Intermediate/
Plugins/Developer/RiderLink/
Package/

#files

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.sln.DotSettings.user

